@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
p {
  margin: 0;
}

.shawn-link {
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.meri-link {
  -webkit-box-orient: vertical;
  display: block /* Fallback for non-WebKit */;
  display: -webkit-box;
  font-family: sans-serif;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heightTitle {
  height: 6vh;
}
.heightText {
  height: 3vh;
}
.heightAuthor {
  height: 3vh;
  margin-bottom: 1rem;
}

.my-head {
  color: white;
  font-weight: bold;
  font-family: "Silkscreen", cursive;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.opaque {
  opacity: 0.8;
}

.wrapper-img {
  border: 2px solid wheat;
  margin: 0.5rem;
  height: 80px;
  width: 80px;
}

.anime-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrap-my-content {
  height: 100%;
  display: flex;
  align-items: center;
}
.anime-header,
.anime-btns {
  display: flex;
  justify-content: flex-start;
}

.anime-title {
  font-size: 1rem;
  font-weight: bold;
}

.my-btn {
  padding: 2px 10px;
  background-color: burlywood;
  border: 2px solid black;
  border-radius: 10px;
}

.my-arrow-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
